.App {
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
